/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #f5f5f5;
}

body.light {
    background: #fff;
    color: #000;
}

body.dark {
    background: #333;
    color: #f5f5f5;
}



.ri-sun-line,
.ri-moon-line {
    font-size: 20px;
    cursor: pointer;
    /* margin-left: 8px; */
}

.container {
    /* width: 80vw; */
    max-width: 1110px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #fff; */
    min-height: 99vh;
}


.header,
.portfolio,
.footer {
    margin-bottom: 20px;
}

body.dark .portfolio a{
    color: aqua;
}

body.dark #homeBtn{
    color: #f5f5f5;
}
body.dark #aboutBtn{
    color: #f5f5f5;
}

.container {
    max-width: 1110px;
    margin: auto;
    text-align: left;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-name img {
    width: 35px;
    height: auto;
}

nav {
    margin-top: 8px;
}

nav p {
    color: teal;
    margin-right: 12px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}


.socials {
    margin-top: 24px;
    font-size: 14px;
}

.socials a {
    text-decoration: none;
    color: #000;
    margin-right: 8px;
}

.socials a i {
  font-size: 20px;
  color: #000; 
  transition: color 0.3s;
}

body.dark .socials a i {
  color: #f5f5f5;
}

.socials span {
    margin-right: 6px;
}

.footer {
    text-align: center;
}


#starfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  display: none;
}
